.coms-layout-aside {
    top: 60px;
    overflow-x: hidden;
    background-color: #393D49;
    color: #fff !important;
    bottom: 0;
    z-index: 999;
    position: fixed;
    width:220px;
    transition: all 0.2s;
    * {
        box-sizing: content-box;
    }
    .aside-unfold {
        text-align: center;
        height:28px;
        overflow:hidden;
        position: relative;
        transition: all 0.2s 0.2s;
        i {
            position: absolute;
            height: 18px;
            line-height: 18px;
            left: 50%;
            top: 50%;
            margin-top: -9px;
            margin-left: -9px;
            transform-origin: center;
            transition: all 0.2s;
        }
        &:hover {
            background: darken(#42485b, 5%);
        }
    }
    &.fold {
        width:65px;
        .aside-unfold {
            width: 65px;
            i {
                transform: rotate(90deg);
                margin-left: -10px;
            }
        }
    } 
    
    .aside-menu-scroll {
        width: 220px;
        height: 100%;
        overflow-x: hidden;
    }

    .aside-menu {
        li {
            a {
                padding: 5px;
                width: 60px;
                display: block;
                transition: background 0.3s;
                overflow: hidden;
                text-overflow: eliphis;
                &:hover {
                    background: lighten(#23262E, 15%);
                }
            }
            i {
                display: block;
                text-align: center;
                color: #fff;
                font-size: 18px;
                margin: 0 auto;
                color: rgba(255, 255, 255, .7);
                transition: color 0.2s;
            }
            .txt {
                color: #fff;
                font-size: 12px;
                color: rgba(255, 255, 255, .7);
                transition: color 0.2s;
            }
            &.active {
                a {
                    background: lighten(#23262E, 20%);
                }
                i {
                    color: #fff;
                }
                .txt {
                    color: #fff;
                }
            }
        }
    }

    .aside-menu-sub {
        position: absolute;
        left: 69px;
        top: 28px;
        bottom: 0;
        width: 155px;
        background: lighten(#23262E, 20%);
        overflow: hidden;
        .list {
            width:175px;
            padding: 10px 0;
            position:absolute;
            visibility:hidden;
            opacity: 0;
            top:0;
            bottom:0;
            left:150px; 
            transition:all 0.25s;
            overflow-y:auto; 
            &.active{
                visibility:visible;
                opacity:1;
                left:0; 
            }
            li {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: #fff;
                    font-size: 14px;
                    padding:0 20px;
                    line-height:35px;
                    color: rgba(255, 255, 255, .7);
                    transition: color 0.2s;
                    &:hover {
                        color: #fff;
                    }
                }
                &.current{
                    a{
                        color:#fff;
                        font-weight:bold; 
                    }
                }
            }
        }
    }
}