.com-upload-single-box {
    .no-pic {
        width: 150px;
        height: 150px;
        overflow: hidden;
        overflow:hidden;
        border:1px solid #e6e6e6;
        background: url("../images/webuploader/not_img_pic.png") no-repeat center center;
    }
    .uploading-img-list {
        li {
            float: left;
            width: 152px;
            height: 152px;
            margin-right:20px;
            overflow: hidden;
            position: relative;
            .img-wrap {
                border: 1px solid #e6e6e6;
                font-size:0;
                width:150px;
                height:150px;
                overflow:hidden;
                text-align: center;
                line-height: 150px;
                color:#000; 
                img {
                    max-width: 100%;
                }
                &.preview {
                    font-size:14px;
                    color:#999;
                    background: url("../images/webuploader/bg.png") repeat top center;
                }
            }
            .handle-bar {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: 0 5px;
                height: 30px;
                line-height: 30px;
                background-color: rgba(0, 0, 0, 0.8);
                display:none;
            }
            .upload-btn {
                float: right;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .del-btn {
                float: left;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .error {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background: #f60;
                color: #fff;
                font-size: 12px;
                display:none;
            }
            .success {
                width: 40px;
                height: 40px;
                background: url("../images/webuploader/success.png") no-repeat top center;
                position: absolute;
                right: 0;
                bottom: 0;
                display:none;
            }

            .progressing {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 15px;
                overflow: hidden;
                z-index: 50;
                margin-bottom: 0;
                display:none;
                span {
                    overflow: hidden;
                    width: 0;
                    height: 100%;
                    display: block;
                    background: url("../images/webuploader/progress.png") repeat-x #1483d8;

                    transition: width 200ms linear;

                    -webkit-animation: progressmove 2s linear infinite;
                    -moz-animation: progressmove 2s linear infinite;
                    -o-animation: progressmove 2s linear infinite;
                    -ms-animation: progressmove 2s linear infinite;
                    animation: progressmove 2s linear infinite;

                    -webkit-transform: translateZ(0);
                }
            }
        }
    }
    .upload-btn-group {
        padding-top: 20px;
    }
    .uploader-server-btn {
        float: left;
        height: 40px;
        line-height: 28px;
    }
    .filepicker-container {
        float: left;
        margin-right: 30px;
    }
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}


.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 0;
    width:150px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}
