<form action="" class="am-form am-form-horizontal" data-am-validator>
  
    <div class="am-form-group">
      <label class="am-para-label">用户名：</label>
      <div class="am-para-input"><input type="text"  minlength="3" placeholder="输入用户名(至少 3 个字符)" required /></div>
    </div>
    <div class="am-form-group">
      <label class="am-para-label">密码：</label>
      <div class="am-para-input"><input type="text"  placeholder="请输入密码" required/></div>
    </div>

    <div class="am-form-group">
      <label class="am-para-label">邮箱：</label>
      <div class="am-para-input"><input type="email"  placeholder="邮箱" required/></div>
    </div>

    <div class="am-form-group">
      <label class="am-para-label">头像：</label>
      <div class="am-para-input">
        <div class="coms-upload-single-box">
                <div class="no-pic" id="J_no-pic"></div>
                <ul class="uploading-img-list clearfix" id="J_uploader-list">
                </ul>
                <div class="upload-btn-group clearfix">
                    <div id="filePicker" class="filepicker-container"></div>
                </div>
            </div>
      </div>
    </div>
    

    
    <button class="am-btn am-btn-secondary" type="submit">提交</button>
  
</form>