<!-- 头部  start****************************************************** -->
    <div class="coms-layout-header">
        <a href="#" class="logo">小鱼生活消费大平台</a>
        <ul class="header-nav">
            <li class="active"><a href="">首页</a></li>
            <li><a href="">社区</a></li>
            <li><a href="">好店</a></li>
            <li><a href="">行业</a></li>
            <li><a href="">白卡</a></li>
        </ul>
        <div class="header-userinfo">
            <a class="info-name" href="javascript:;">onetao<span class="arrow"></span></a>
            <ul class="dropdown-list">
                <li><a href="#">操作1</a></li>
                <li><a href="#">操作2</a></li>
                <li><a href="#">操作3</a></li>
            </ul>
        </div>

        <div class="header-notice">
            <a class="tit" href="javascript:;">通知<b><i>8</i></b></a>
            <ul class="dropdown-list">
                <li><a href="#">操作1</a></li>
                <li><a href="#">操作2</a></li>
                <li><a href="#">操作31</a></li>
            </ul>
        </div>
    </div>
<!-- 头部  end****************************************************** -->