<div class="coms-pagination fr mr20">
    <span class="total">共100条数据</span>
    <a href="#" class="first">首页</a>
    <span class="first disabled">首页</span>
    <a href="#" class="prev">上一页</a>
    <span class="prev disabled">上一页</span>
    <a href="#" class="num">1</a>
    <span class="more">...</span>
    <a href="#" class="num">4</a>
    <a href="#" class="num">5</a>
    <span class="num current">6</span>
    <a href="#" class="num">7</a>
    <a href="#" class="num">8</a>
    <span class="more">...</span>
    <a href="#" class="num">20</a>
    <a href="#" class="next">下一页</a>
    <span class="next disabled">下一页</span>
    <span class="last disabled">末页</span>
    <span class="sel">
                <select>
                    <option value="10" selected="">10 条/页</option>
                    <option value="20">20 条/页</option>
                    <option value="30">30 条/页</option>
                    <option value="40">40 条/页</option>
                    <option value="50">50 条/页</option>
                </select>
            </span>
    <span class="skip">到第<input type="text" min="1" value="6">页<button type="button">确定</button></span>
</div>