<!-- side  start****************************************************** -->
<div class="coms-layout-aside" id="J_coms-layout-aside">
    <div class="aside-menu-scroll">
        <div class="aside-unfold"><i class="iconfont f18">&#xe6d4;</i></div>
        <ul class="aside-menu">
            <li class="active treeview">
                <a href="javascript:void(0)">
                            <i class="iconfont">&#xe65d;</i>
                            <span class="txt">榜单管理</span>
                        </a>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏02</span>
                            
                        </a>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                           <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏03</span>
                            
                        </a>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont f14">&#xe65d;</i>
                    <span class="txt">菜单栏04(没有子菜单不用treeview)</span>
                   
                </a>
            </li> 
        </ul>
        <div class="aside-menu-sub">  
            <ul class="list active">
                <li><a href="BangDan-LieBiao.html">榜单列表</a></li>
                <li class="current"><a href="BangDan-XiHuan-LieBiao.html">喜欢列表</a></li>
                <li><a href="BangDan-ShangHu-LieBiao.html">商户列表</a></li>
                <li><a href="BangDan-ChuangJianBangDan.html">创建榜单</a></li>
                <li><a href="BangDan-FenLei-LieBiao.html">榜单分类列表</a></li>
                <li><a href="BangDan-FenLei-TianJia.html">榜单分类创建</a></li>
                
            </ul>

            <ul class="list">
                <li><a href="#">榜单管理2-1</a></li>
                <li class="current"><a href="#">榜单管理2-2</a></li>
                <li><a href="#">榜单管理2-3</a></li>
                <li><a href="#">榜单管理1-4</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
                <li><a href="#">榜单管理1-5</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($){
        $(function(){
            var $aside=$("#J_coms-layout-aside"),
                $fold=$aside.find(".aside-unfold"),
                $menuList=$aside.find(".aside-menu").children('li.treeview'),
                $mainBody=$("#J_coms-layout-body"),
                $menuSubList=$aside.find(".aside-menu-sub").children('ul');

            $menuList.on("click",function(){
                var $this=$(this);
                var index=$menuList.index(this);
                if($aside.hasClass('fold')){
                    $aside.removeClass('fold');
                     $mainBody.removeClass('unfold');
                }
                $this.addClass('active').siblings().removeClass('active')
                $menuSubList.eq(index).addClass('active').siblings().removeClass('active');
            });
            $fold.on("click",function(){
                if($aside.hasClass('fold')){
                    $aside.removeClass('fold');
                    $mainBody.removeClass('unfold');
                }else{
                    $aside.addClass('fold');
                    $mainBody.addClass('unfold');
                }
            })

        })
    })(jQuery)
</script>
<!-- side  end****************************************************** -->