<!-- side  start****************************************************** -->
<div class="coms-layout-aside">
    <div class="aside-menu-scroll">
        <div class="aside-unfold"><i class="iconfont f18">&#xe6d4;</i></div>
        <ul class="aside-menu">
            <li class="treeview active">
                <a href="javascript:void(0)" data-tip="榜单管理">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">榜单管理</span>
                            <span class="more"></span> 
                        </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="#">榜单列表</a></li>
                    <li><a href="#">创建榜单</a></li>
                    <li><a href="#">榜单分类</a></li>
                    <li><a href="#">商家库</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)" data-tip="菜单栏02">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏02</span>
                            <span class="more"></span> 
                        </a>
                <ul class="treeview-menu">
                    <li><a href="#">菜单栏02-01</a></li>
                    <li class="active"><a href="#">菜单栏02-02</a></li>
                    <li><a href="#">菜单栏02-03</a></li>
                    <li><a href="#">菜单栏02-04</a></li>
                    <li><a href="#">菜单栏测试测试测试测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                    <li><a href="#">菜单栏02-测试</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)" data-tip="菜单栏03">
                           <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏03</span>
                            <span class="more"></span> 
                        </a>
                <ul class="treeview-menu">
                    <li><a href="#">菜单栏03-01</a></li>
                    <li><a href="#">菜单栏03-02</a></li>
                    <li><a href="#">菜单栏03-03</a></li>
                    <li><a href="#">菜单栏03-04</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏04</span>
                            <span class="more"></span> 
                        </a>
                <ul class="treeview-menu">
                    <li><a href="#">菜单栏04-01</a></li>
                    <li><a href="#">菜单栏04-02</a></li>
                    <li><a href="#">菜单栏04-03</a></li>
                    <li><a href="#">菜单栏04-04</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏05</span>
                        </a>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏06</span>
                        </a>
                <ul class="treeview-menu">
                    <li><a href="#">菜单栏04-01</a></li>
                    <li><a href="#">菜单栏04-02</a></li>
                    <li><a href="#">菜单栏04-03</a></li>
                    <li><a href="#">菜单栏04-04</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏07</span>
                        </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                            <i class="iconfont f14">&#xe65d;</i>
                            <span class="txt">菜单栏08</span>
                        </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
  $(function() {
     $(".coms-layout-aside .aside-menu").sideMenu();
  })
</script>
<!-- side  end****************************************************** -->