<div class="clearfix">
    <ul class="com-tab-title type-1">
        <li class="active"><a href="#tab-test-21" data-toggle="tab">选项卡01</a></li>
        <li><a href="#tab-test-22" data-toggle="tab">选项卡02</a></li>
        <li><a href="#tab-test-23" data-toggle="tab">选项卡03</a></li>
        <li><a href="#tab-test-24" data-toggle="tab">选项卡04</a></li>
    </ul>
    <div class="com-tab-body active" id="tab-test-21">
        <div class="p20">选项卡————————————————01</div>
    </div>
    <div class="com-tab-body" id="tab-test-22">
        <div class="p20">选项卡————————————————02</div>
    </div>
    <div class="com-tab-body" id="tab-test-23">
        <div class="p20">选项卡————————————————03</div>
    </div>
    <div class="com-tab-body" id="tab-test-24">
        <div class="p20">选项卡————————————————04</div>
    </div>
</div>
<div class="pb50"></div>

<div class="clearfix">
	<ul class="com-tab-title type-2">
    <li class="active"><a href="#tab-test-11" data-toggle="tab">选项卡01</a></li>
    <li><a href="#tab-test-12" data-toggle="tab">选项卡02</a></li>
    <li><a href="#tab-test-13" data-toggle="tab">选项卡03</a></li>
    <li><a href="#tab-test-14" data-toggle="tab">选项卡04</a></li>
</ul>
    <div class="com-tab-body active" id="tab-test-11">
        <div class="p20">选项卡————————————————01</div>
    </div>
    <div class="com-tab-body" id="tab-test-12">
        <div class="p20">选项卡————————————————02</div>
    </div>
    <div class="com-tab-body" id="tab-test-13">
        <div class="p20">选项卡————————————————03</div>
    </div>
    <div class="com-tab-body" id="tab-test-14">
        <div class="p20">选项卡————————————————04</div>
    </div>
</div>
<script type="text/javascript">
layui.use("tab", function() {

});
</script>