<script type="text/javascript" src="js/plugin/jqgrid/js/jquery.jqGrid.src.js"></script>
<script type="text/javascript" src="js/plugin/jqgrid/js/i18n/grid.locale-cn.js"></script>
<link rel="stylesheet" type="text/css" href="js/plugin/jqgrid/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" href="css/linshi.css">
<!--  -->
<!-- <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_table-type-1" dir="ltr" style="width: 1412px;">
    <div class="ui-widget-overlay jqgrid-overlay" id="lui_table-type-1"></div>
    <div class="loading ui-state-default ui-state-active" id="load_table-type-1" style="display: none;">读取中...</div>
    <div class="ui-jqgrid-view" id="gview_table-type-1" style="width: 1412px;">
        <div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix"><a role="link" class="ui-jqgrid-titlebar-close ui-corner-all HeaderButton" style="right: 0px;"><span class="ui-icon ui-icon-circle-triangle-n"></span></a><span class="ui-jqgrid-title">JSON Example</span></div>
        <div class="ui-state-default ui-jqgrid-hdiv" style="width: 1412px;">
            <div class="ui-jqgrid-hbox">
                <table class="ui-jqgrid-htable" style="width:1412px" role="grid" aria-labelledby="gbox_table-type-1" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                        <tr class="ui-jqgrid-labels" role="rowheader">
                            <th id="table-type-1_id" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 225px;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                <div id="jqgh_table-type-1_id" class="ui-jqgrid-sortable">ID<span class="s-ico" style=""><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                                </div>
                            </th>
                            <th id="table-type-1_bangdanmingcheng" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 368px;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                <div id="jqgh_table-type-1_bangdanmingcheng" class="ui-jqgrid-sortable">榜单名称<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                                </div>
                            </th>
                            <th id="table-type-1_score" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 819px;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
                                <div id="jqgh_table-type-1_score" class="ui-jqgrid-sortable">得分<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="ui-jqgrid-bdiv" style="height: auto; width: 1412px;">
            <div style="position:relative;">
                <div></div>
                <table id="table-type-1" tabindex="0" cellspacing="0" cellpadding="0" border="0" role="grid" aria-multiselectable="false" aria-labelledby="gbox_table-type-1" class="ui-jqgrid-btable" style="width: 1412px;">
                    <tbody>
                        <tr class="jqgfirstrow" role="row" style="height:auto">
                            <td role="gridcell" style="height:0px;width:225px;"></td>
                            <td role="gridcell" style="height:0px;width:368px;"></td>
                            <td role="gridcell" style="height:0px;width:819px;"></td>
                        </tr>
                        <tr role="row" id="1" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="1" aria-describedby="table-type-1_id">1</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">榜单01</td>
                            <td role="gridcell" style="" title="11" aria-describedby="table-type-1_score">11</td>
                        </tr>
                        <tr role="row" id="2" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="2" aria-describedby="table-type-1_id">2</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="21" aria-describedby="table-type-1_score">21</td>
                        </tr>
                        <tr role="row" id="3" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="3" aria-describedby="table-type-1_id">3</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="31" aria-describedby="table-type-1_score">31</td>
                        </tr>
                        <tr role="row" id="4" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="4" aria-describedby="table-type-1_id">4</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="41" aria-describedby="table-type-1_score">41</td>
                        </tr>
                        <tr role="row" id="5" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="5" aria-describedby="table-type-1_id">5</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="51" aria-describedby="table-type-1_score">51</td>
                        </tr>
                        <tr role="row" id="6" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="6" aria-describedby="table-type-1_id">6</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="61" aria-describedby="table-type-1_score">61</td>
                        </tr>
                        <tr role="row" id="7" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="7" aria-describedby="table-type-1_id">7</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="71" aria-describedby="table-type-1_score">71</td>
                        </tr>
                        <tr role="row" id="8" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="8" aria-describedby="table-type-1_id">8</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="81" aria-describedby="table-type-1_score">81</td>
                        </tr>
                        <tr role="row" id="9" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="9" aria-describedby="table-type-1_id">9</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="91" aria-describedby="table-type-1_score">91</td>
                        </tr>
                        <tr role="row" id="10" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr">
                            <td role="gridcell" style="" title="10" aria-describedby="table-type-1_id">10</td>
                            <td role="gridcell" style="" title="" aria-describedby="table-type-1_bangdanmingcheng">&nbsp;</td>
                            <td role="gridcell" style="" title="101" aria-describedby="table-type-1_score">101</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ui-jqgrid-resize-mark" id="rs_mtable-type-1">&nbsp;</div>
    <div id="pager2" class="ui-state-default ui-jqgrid-pager ui-corner-bottom" style="width: 1412px;" dir="ltr">
        <div id="pg_pager2" class="ui-pager-control" role="group">
            <table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table" style="width:100%;table-layout:fixed;height:100%;" role="row">
                <tbody>
                    <tr>
                        <td id="pager2_left" align="left">
                            <table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table navtable" style="float:left;table-layout:auto;">
                                <tbody>
                                    <tr>
                                        <td class="ui-pg-button ui-corner-all" title="查找" id="search_table-type-1">
                                            <div class="ui-pg-div"><span class="ui-icon ui-icon-search"></span></div>
                                        </td>
                                        <td class="ui-pg-button ui-corner-all" title="刷新表格" id="refresh_table-type-1">
                                            <div class="ui-pg-div"><span class="ui-icon ui-icon-refresh"></span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="pager2_center" align="center" style="white-space: pre; width: 196px;">
                            <table cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;" class="ui-pg-table">
                                <tbody>
                                    <tr>
                                        <td id="first_pager2" class="ui-pg-button ui-corner-all ui-state-disabled"><span class="ui-icon ui-icon-seek-first"></span></td>
                                        <td id="prev_pager2" class="ui-pg-button ui-corner-all ui-state-disabled"><span class="ui-icon ui-icon-seek-prev"></span></td>
                                        <td class="ui-pg-button ui-state-disabled" style="width:4px;"><span class="ui-separator"></span></td>
                                        <td dir="ltr">
                                            <input class="ui-pg-input" type="text" size="2" maxlength="7" value="0" role="textbox"> 共 <span id="sp_1_pager2">8</span> 页</td>
                                        <td class="ui-pg-button ui-state-disabled" style="width:4px;"><span class="ui-separator"></span></td>
                                        <td id="next_pager2" class="ui-pg-button ui-corner-all"><span class="ui-icon ui-icon-seek-next"></span></td>
                                        <td id="last_pager2" class="ui-pg-button ui-corner-all"><span class="ui-icon ui-icon-seek-end"></span></td>
                                        <td dir="ltr">
                                            <select class="ui-pg-selbox" role="listbox">
                                                <option role="option" value="10" selected="selected">10</option>
                                                <option role="option" value="20">20</option>
                                                <option role="option" value="30">30</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="pager2_right" align="right">
                            <div dir="ltr" style="text-align:right" class="ui-paging-info">1 - 10　共 77 条</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<!--  -->
<table id="table-type-1"></table>
<div id="pager2"></div>
<script type="text/javascript">
$(function() {
    //页面加载完成之后执行
    pageInit();
});

function pageInit() {
    //创建jqGrid组件
    $("#table-type-1").jqGrid({
        url: 'https://wnworld.com/api/haoDianGuanLiHouTai/table.php', //组件创建完成之后请求数据的url
        datatype: "json", //请求数据返回的类型。可选json,xml,txt
        colNames: ['ID', '榜单名称', '得分'], //jqGrid的列显示名字
        colModel: [
            //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
            { name: 'id', index: 'id', width: 55 },
            { name: 'mingceng', index: 'mingceng', width: 200 },
            { name: 'score', index: 'score', width: 200 }
        ],
        direction: "",
        width: $(".coms-layout-body").width() - 20,
        height: "auto",
        autowidth: true,
        shrinkToFit: true,
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total", //页码总数
            records: "records", //数据总条数
            repeatitems: true,
            id: "id",
            userdata: "userdata",
        },
        rowNum: 10, //一页显示多少条
        rowList: [10, 20, 30], //可供用户选择一页显示多少条
        pager: '#pager2', //表格页脚的占位符(一般是div)的id
        sortname: 'id', //初始化的时候排序的字段
        sortorder: "desc", //排序方式,可选desc,asc
        mtype: "post", //向后台请求数据的ajax的类型。可选post,get
        viewrecords: true,
        caption: "JSON Example" //表格的标题名字
    });
    /*创建jqGrid的操作按钮容器*/
    /*可以控制界面上增删改查的按钮是否显示*/
    jQuery("#table-type-1").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
}
</script>