<script type="text/javascript" src="js/plugin/datatables/amazeui.datatables.js"></script>
<link rel="stylesheet" type="text/css" href="js/plugin/datatables/amazeui.datatables.css">
<link rel="stylesheet" type="text/css" href="css/linshi.css">
<table class="am-table am-table-bordered" id="table-01">
    <thead>
        <tr>
            <th>榜单 ID</th>
            <th>榜单名称</th>
            <th>得分</th>
        </tr>
    </thead>
</table>
<div class="wrapper">
      
    </div>
<script type="text/javascript">
$(function() {
    $("#table-01").DataTable({
    	"dom": '<"wrapper"flipt>',
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "https://wnworld.com/api/haoDianGuanLiHouTai/table.php",
            "type": "post"
        },
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "score" }
        ],
        "language": {
            "lengthMenu": "Display _MENU_ records",
        }

    });
})
</script>