<div class="coms-table-wrap">  
    <div class="coms-table-hd">
        <div class="am-form am-form-horizontal">
            <div class="am-form-group fl">
                <label class="am-para-label">榜单名称：</label>
                <div class="am-para-inline w200">
                    <input type="text" />
                </div>
            </div>
            <div class="am-form-group fl">
                <label class="am-para-label">类型：</label>
                <div class="am-para-inline w150">
                    <select required="" name="province">
                        <option value="">请选择</option>
                        <option value="option1">选项一...</option>
                        <option value="option2">选项二.....</option>
                        <option value="option3" disabled="">选项三........</option>
                    </select>
                </div>
            </div>
            <div class="am-form-group fl">
                <label class="am-para-label">分类：</label>
                <div class="am-para-inline w150 mr10">
                    <select required="" name="province">
                        <option value="">请选择</option>
                        <option value="option1">选项一...</option>
                        <option value="option2">选项二.....</option>
                        <option value="option3" disabled="">选项三........</option>
                    </select>
                </div>
                <div class="am-para-inline w150 mr10">
                    <select required="" name="province">
                        <option value="">请选择</option>
                        <option value="option1">选项一...</option>
                        <option value="option2">选项二.....</option>
                        <option value="option3" disabled="">选项三........</option>
                    </select>
                </div>
            </div>
            <div class="am-form-group fl ml20">
                <button type="button" class="am-btn am-btn-success w100">搜索</button>
            </div>
        </div>
    </div>
    <div class="coms-table-bd">
        <table class="am-table am-table-bordered">
            <thead>
                <tr>
                    <th width="50"><input type="checkbox" /></th>
                    <th width="20%">榜单ID</th>
                    <th width="30%">榜单名称</th>
                    <th>标签</th>
                    <th>类型</th>
                    <th>样式</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>厦门某某店面01</td>
                    <td></td>
                    <td>标签</td>
                </tr>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr class="am-active">
                    <td>Amaze UI(Active)</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
                <tr>
                    <td>Amaze UI</td>
                    <td>http://amazeui.org</td>
                    <td>2012-10-01</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="coms-table-ft"></div>
</div>