<script type="text/javascript" src="js/plugin/datatables/amazeui.datatables.js"></script>
<link rel="stylesheet" type="text/css" href="js/plugin/datatables/amazeui.datatables.css">
<link rel="stylesheet" type="text/css" href="css/linshi.css">
<div class="coms-datatable-wrap">
    <table class="am-table am-table-bordered" id="table-01">
        <thead>
            <tr>
                <th width="10%">榜单 ID</th>
                <th width="60%">榜单名称</th>
                <th width="30%">得分</th>
            </tr>
        </thead>
    </table>

    <div class="coms-datatable-handler">
        
    </div>
  
</div>
<script type="text/javascript">
//   dom: "<'am-g am-datatable-hd'<'am-u-sm-6'l><'am-u-sm-6'f>>" +
// "<'am-g'<'am-u-sm-12'tr>>" +
// "<'am-g am-datatable-footer'<'am-u-sm-5'i><'am-u-sm-7'p>>",
$(function() {
    $("#table-01").DataTable({
        // "dom": "<'am-g am-datatable-hd coms-datatable-hd'f>"+"<'am-g coms-datatable-bd'tr>"+"<'am-g coms-datatable-ft'pl>",
        "dom": "<'.coms-datatable-bd'tr><'.coms-datatable-ft clearfix'<'.page-every-count'l><'.page-num-list'p>>",
        "processing": true,
        "serverSide": true,
        'ordering':false,
        "ajax": {
            "url": "https://wnworld.com/api/haoDianGuanLiHouTai/table.php",
            "type": "post"
        },
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "score" }
        ],
        "language": {
            "lengthMenu": "每页显示_MENU_条",
        }

    });
})
</script>