/**
 * by yyh
 */




.am-table-bordered  tbody > tr:first-child > td{
	border-top:none !important; 
}


.coms-datatable-bd{
	table{
		thead{
			background-color: #f2f2f2;
			th{
				text-align:center;
				font-weight:normal;
				padding-right:0 !important;   
			}
		}
		
		td{
			text-align:center; 
		}
	}

	table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after{
		    position:relative;
		   
		    margin-top: -12px;
		    margin-left:15px; 
		    display:inline-block;
		    opacity: 0.5;
		    font-weight: normal;
	}
}

.coms-datatable-ft .page-num-list{
	float: right;
}
.coms-datatable-ft .page-every-count{
	float: right;
	padding:0 10px;
	font-size:14px;
	line-height:32px;   
	
}
.coms-datatable-ft .page-every-count label{
	font-weight:normal; 
}
.coms-datatable-ft .page-every-count select{
	vertical-align:middle;
	margin:0 5px;  
}

.coms-datatable-wrap{

}


