/**
 * by yyh
 */

.seaction-hand-area{
	padding:20px 30px; 
	.sec-lf{
		min-width:100px;
		padding:30px 0px 0;   
		float:left; 
		margin-right:50px;
		position: relative;
		border:1px solid #e6e6e6;

		.caption{
			position:absolute;
			left:0;
			top:0;
			right:0;
			height: 30px;
			line-height:30px;
			background:#f2f2f2;
			text-align:center;    
		}
		.list{
			max-height:438px;
			overflow: auto; 
			li{
				border-bottom:1px solid #e6e6e6;
				&.active{
					a{
						color:#fff; 
						background:#3bb4f2; 
					}
				} 
				a{
					display:block;
					height:40px;
					line-height:40px;
					padding:0 20px; 
					text-align:center;
					color:#333; 
					&:hover{
						color:#fff; 
						background:#3bb4f2; 
					} 
				}
			}
		}
	}

	.sec-mid,.sec-rt{
		padding:30px 0px 40px;   
		margin-right:50px;
		float:left; 
		position: relative;
		border:1px solid #e6e6e6;
		min-width:250px; 
		.caption{
			position:absolute;
			left:0;
			top:0;
			right:0;
			height: 30px;
			line-height:30px;
			background:#f2f2f2;
			text-align:center;    
		}
	}

	
}

.check-hand-box{
	padding:10px 0; 
	min-height:200px; 
	max-height:400px;
	overflow:auto;
	.item-cell{
		color:#333;
		padding:3px 15px; 
		label{
			font-weight:normal;  
		}
	}
}
.check-hand-btns{
	background:#f2f2f2; 
	position:absolute;
	right:0;
	bottom: 0;
	left:0;  
	padding:5px 15px; 
	.check-all{
		font-size:14px;
		font-weight: normal; 
		input{
			display: inline-block;
			vertical-align: middle;
			margin-top:-2px;
		}
	} 
}





