.sec-step {
	margin-left:20px; 
	margin-top:30px;
    position:relative;
    .item-zhl{
        position:absolute;
        left:0;
        top:0;
        background:#f60;
        height:600px;
        .line-1{
            width:50px;
            height:1px;
            background:#666;
        }
        .line-2{
            width:50px;
            height:1px;
            background:#666;
        }
    } 
    .item-step {
    	position:relative; 
    	padding-left:110px;
    	margin:0 0 20px 0;  
    	.area-l{
    		position:absolute;
    		left:0;
    		top:0;
			width:110px;
			height:100px; 
			line-height:100px;
			background:#e6e6e6; 
			color:#666; 
			font-weight:normal;
			text-align:center;   
    	}
    	&.step-1{
    		.area-l{
				background:#0c79b1;
				color:#fff;
    		}
    	}
    	&.step-2{
    		.area-l{
				background:#F37B1D;
				color:#fff;
    		}
    	}
    	&.step-3{
    		.area-l{
				background:#dd514c;
				color:#fff;
    		}
    	}
    	&.step-4{
    		.area-l{
				background:#5eb95e;
				color:#fff;
    		}
    	}
    	&.step-5{
    		.area-l{
				background:#3bb4f2;
				color:#fff;
    		}
    	}
    }
    .list{

    	float:left;
    	background:#efefef;
    	height:100px;
    	li{
    		float:left;
    		padding-top:25px; 
    		height:100px;
    		min-width:140px;
            position:relative;
    		text-align:center;
    		.line{
    			position:absolute;
    			right: 0;
    			top:50%;
    			width:1px;
    			background:#e1e1e1;
    			height:50%;
    			transform: translate(0,-50%);
    		}
    	}
    	.tit{
    		font-size: 16px;
    		text-align:center;
    	}
    	.intro{
    		font-weight:bold;
    		color:#666; 
    	}
    }
}